.footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.footer__credit {
  text-align: center;
}

.footer__link {
  color: var(--color-secondary);
}

.footer__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-secondary);
  text-underline-offset: 0.25rem;
}
